<!--

<div id="numbers-tab__container-0" class="flex jc-spb">
    <div id="numbers-tab__container-1" class="flex dir-col jc-spb">
        <div class="numbers-tab__container-2 flex jc-spb ai-center">
            <h2 class="param-description">Количество</h2>

            <div class="numbers-tab__container-3 flex jc-spb">
                <div class="numbers-tab__input-container flex jc-spb">
                    <input class="input-radio" type="radio" name="numbers-quantity" id="nq-10" value="10">
                    <label for="nq-10" class="flex jc-center ai-center radio-label">10</label>
                    
                    <input class="input-radio" type="radio" name="numbers-quantity" id="nq-25" value="25">
                    <label for="nq-25" class="flex jc-center ai-center radio-label">25</label>
                    
                    <input class="input-radio" type="radio" name="numbers-quantity" id="nq-50" value="50">
                    <label for="nq-50" class="flex jc-center ai-center radio-label">50</label>
                </div>

                <input class="custom-input" type="number" placeholder="Своё" id="numbers-q-custom">
            </div>
        </div>

        <div class="numbers-tab__container-2 flex jc-spb ai-center">
            <h2 class="param-description">Макс длина</h2>

            <div class="numbers-tab__container-3 flex jc-spb">
                <div class="numbers-tab__input-container flex jc-spb">
                    <input class="input-radio" type="radio" name="numbers-ml" id="nml-3" value="3">
                    <label for="nml-3" class="flex jc-center ai-center radio-label">3</label>
                    
                    <input class="input-radio" type="radio" name="numbers-ml" id="nml-5" value="5">
                    <label for="nml-5" class="flex jc-center ai-center radio-label">5</label>
                    
                    <input class="input-radio" type="radio" name="numbers-ml" id="nml-7" value="7">
                    <label for="nml-7" class="flex jc-center ai-center radio-label">7</label>
                </div>
                
                <input class="custom-input" type="number" placeholder="Своё" id="numbers-ml-custom">
            </div>
        </div>
    </div>

    <button id="numbers-tab__go" onclick="fetchNumbers(); this.blur();">Go</button>
</div>
-->




<div id="numbers-tab__container-0" class="flex jc-spb">
    <div id="numbers-tab__container-1" class="flex dir-col jc-spb">
        <div class="numbers-tab__container-2 flex jc-spb ai-center">
            <h2 class="param-description">Количество</h2>

            <div class="numbers-tab__container-3 flex jc-spb">
                <div class="numbers-tab__input-container flex jc-spb">
                    <div class="flex jc-spb numbers-tab__input-subcontainer-1">
                        <input class="input-radio" type="radio" name="numbers-quantity" id="nq-10" value="10">
                        <label for="nq-10" class="flex jc-center ai-center radio-label">10</label>
                    </div>

                    <div class="flex jc-spb numbers-tab__input-subcontainer-1">
                        <input class="input-radio" type="radio" name="numbers-quantity" id="nq-25" value="25">
                        <label for="nq-25" class="flex jc-center ai-center radio-label">25</label>
                    </div>

                    <div class="flex jc-spb numbers-tab__input-subcontainer-1">
                        <input class="input-radio" type="radio" name="numbers-quantity" id="nq-50" value="50">
                        <label for="nq-50" class="flex jc-center ai-center radio-label">50</label>
                    </div>
                </div>

                <input class="custom-input" type="number" placeholder="Своё" id="numbers-q-custom">
            </div>
        </div>

        <div class="numbers-tab__container-2 flex jc-spb ai-center">
            <h2 class="param-description">Макс длина</h2>

            <div class="numbers-tab__container-3 flex jc-spb">
                <div class="numbers-tab__input-container flex jc-spb">
                    <div class="flex jc-spb numbers-tab__input-subcontainer-2">
                        <input class="input-radio" type="radio" name="numbers-ml" id="nml-3" value="3">
                        <label for="nml-3" class="flex jc-center ai-center radio-label">3</label>
                    </div>

                    <div class="flex jc-spb numbers-tab__input-subcontainer-2">
                        <input class="input-radio" type="radio" name="numbers-ml" id="nml-5" value="5">
                        <label for="nml-5" class="flex jc-center ai-center radio-label">5</label>
                    </div>

                    <div class="flex jc-spb numbers-tab__input-subcontainer-2">
                        <input class="input-radio" type="radio" name="numbers-ml" id="nml-7" value="7">
                        <label for="nml-7" class="flex jc-center ai-center radio-label">7</label>
                    </div> 
                </div>
                
                <input class="custom-input" type="number" placeholder="Своё" id="numbers-ml-custom">
            </div>
        </div>
    </div>

    <button id="numbers-tab__go" onclick="fetchNumbers(); this.blur();">Go</button>
</div>