<div id="words-tab__container-0" class="flex jc-spb ai-center">
    <div id="words-tab__container-1" class="flex jc-spb ai-center">
        <h2 class="param-description">Count:</h2>

        <div id="words-tab__input-container" class="flex jc-spb ai-center">
            <div class="flex jc-spb words-tab__input-subcontainer">
                <input id="wq-1" class="input-radio wt" type="radio" name="words-quantity" value="10" >
                <label for="wq-1" class="flex ai-center jc-center radio-label">10</label>
            </div>

            <div class="flex jc-spb words-tab__input-subcontainer">
                <input id="wq-2" class="input-radio wt" type="radio" name="words-quantity" value="25" >
                <label for="wq-2" class="flex ai-center jc-center radio-label">25</label>
            </div>

            <div class="flex jc-spb words-tab__input-subcontainer">
                <input id="wq-3" class="input-radio wt" type="radio" name="words-quantity" value="50">
                <label for="wq-3" class="flex ai-center jc-center radio-label">50</label>
            </div>
        </div>
    </div>

    <div id="words-tab__wq-custom" class="flex jc-spb">
        <input id="words-q-custom" class="custom-input" type="number" placeholder="Custom" min="1" max="10000">
        <button id="custom-go" onclick="fetchWords(); this.blur();">Go</button>
    </div>
</div>